.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.desktop .overlap {
  position: relative;
  height: 1024px;
  background-image: url(Imagenes/school_15\ [Convertido]-01\ 1.jpg);
  background-size: cover;
  background-position: 100% 100%;
}

.desktop .overlap-group {
  position: absolute;
  width: 1387px;
  height: 745px;
  top: 14px;
  left: 27px;
}

.desktop .navbar {
  position: absolute;
  width: 1387px;
  height: 235px;
  top: 0;
  left: 0;
}

.desktop .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  position: absolute;
  top: 52px;
  left: 704px;
}

.desktop .div {
  position: relative;
  width: 112.98px;
  height: 30px;
}

img {
  cursor: pointer; /* Cambia el cursor al pasar el ratón por encima del botón */
}
img:hover {
  opacity: 0.8; /* Puedes ajustar la opacidad u otros estilos según tus preferencias */
}
.desktop .group {
  position: absolute;
  width: 168px;
  height: 50px;
  top: 34px;
  left: 1055px;
}

.desktop .div-wrapper {
  position: relative;
  width: 166px;
  height: 50px;
  background-color: #c24914;
  border-radius: 10px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 134px;
  top: 9px;
  left: 17px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 168px;
  height: 50px;
  top: 35px;
  left: 817px;
}

.desktop .overlap-2 {
  position: relative;
  width: 166px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #c24914;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 158px;
  top: 8px;
  left: 7px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #c24914;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .icono-HOME {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 24px;
  left: 1293px;
  object-fit: cover;
}

.desktop .logotuprofeparticular {
  position: absolute;
  width: 258px;
  height: 250px;
  top: -8px;
  left: 34px;
  object-fit: cover;
}

.desktop .main {
  position: absolute;
  width: 1281px;
  height: 526px;
  top: 219px;
  left: 53px;
}

.desktop .p {
  position: absolute;
  width: 609px;
  top: 28px;
  left: 4px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 60px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 611px;
  top: 224px;
  left: 4px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.desktop .element {
  top: 0;
  left: 734px;
  position: absolute;
  width: 350px;
  height: 255px;
  object-fit: cover;
}

.desktop .img {
  top: 259px;
  left: 888px;
  position: absolute;
  width: 350px;
  height: 255px;
  object-fit: cover;
}

.desktop .group-wrapper {
  position: absolute;
  width: 351px;
  height: 113px;
  top: 340px;
  left: 282px;
}

.desktop .group-2 {
  width: 353px;
  height: 113px;
}

.desktop .overlap-group-2 {
  width: 351px;
  height: 113px;
  box-shadow: 0px 4px 4px #00000040;
  position: relative;
  background-color: #c24914;
  border-radius: 10px;
}

.desktop .text-wrapper-4 {
  width: 321px;
  top: 43px;
  left: 15px;
  font-weight: 600;
  color: #fffdfd;
  font-size: 36px;
  line-height: 30px;
  white-space: nowrap;
  position: absolute;
  font-family: "Poppins", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.desktop .element-descuento-primera {
  position: absolute;
  width: 252px;
  height: 241px;
  top: 285px;
  left: 4px;
  object-fit: cover;
}

.desktop .subscribe {
  position: absolute;
  width: 1060px;
  height: 130px;
  top: 763px;
  left: 190px;
  background-color: #ffffff;
}

.desktop .overlap-3 {
  position: relative;
  height: 130px;
  top: 3px;
  background-color: #f9e0aeb2;
}

.desktop .group-3 {
  position: absolute;
  width: 168px;
  height: 45px;
  top: 69px;
  left: 827px;
}

.desktop .overlap-group-3 {
  width: 166px;
  height: 45px;
  position: relative;
  background-color: #c24914;
  border-radius: 10px;
  right: 38px;
  top: -2px;
}

.desktop .text-wrapper-5 {
  width: 134px;
  height: 33px;
  top: 6px;
  left: 16px;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
  line-height: normal;
  position: absolute;
  font-family: "Poppins", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 815px;
  height: 53px;
  top: -15px;
  left: 123px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.desktop .overlap-4 {
  position: absolute;
  width: 73px;
  height: 45px;
  top: 69px;
  left: 57px;
}

.desktop .group-4 {
  position: absolute;
  width: 753px;
  height: 45px;
  top: 0;
  left: 0;
}

label {
  display: block;
  margin-bottom: -17px;
}

input[type="email"] {
  position: relative;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  width: 600px;
  top: 13px;
  left: 109px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}


input[type="email"]:focus {
  outline: none; /* Elimina el contorno en el enfoque del campo de entrada */
  border-color: #c24914; /* Cambia el color del borde cuando se enfoca */
}
.desktop .text-wrapper-7 {
  position: absolute;
  width: 600px;
  top: 10px;
  left: 67px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .icono-email {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -2px;
  left: 52px;
  object-fit: cover;
}

.desktop .siguenos {
  position: absolute;
  width: 396px;
  height: 103px;
  top: 911px;
  left: 522px;
}

.desktop .logos-redes {
  position: absolute;
  width: 245px;
  height: 57px;
  top: 35px;
  left: 75px;
  object-fit: cover;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 158px;
  height: 30px;
  top: -1px;
  left: 119px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}
